body {
    background: black;
    color: white;
    text-align: center;
}

table {
    border-spacing: 2px;
    border-collapse: separate;
    margin: 20px;
}

td {
    background: #300c30;
    border: 1px solid #444;
    width: 32px;
    height: 32px;
}
td.cell {
    background: #180618;
}
td.place {
    background: #481248;
}
.shot {
    position: relative;
}
td.shot:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -1px;
    border-bottom: 1px solid #AAA;
    width: 110%;
    transform: rotate(40deg);
}
td.cell:hover {
    border: 1px solid #803;
}

.aim {
    border-color: #a68;
}

.captionText {
    font-size: 200%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

.clickable {
    background-color: #180618;
    border: 2px solid gray;
    border-radius: 2px;
    margin: 3px auto;
    padding: 10px;
    width: 200px;
}
.clickable:hover {
    background-color: #181008;
    border: 2px solid #803;
}

.debug {
    color: #888;
    font-family: 'Courier New';
    font-size: 80%;
    margin-top: 100px;
    text-align: left;
}

.field {
    display: inline-block;
    vertical-align: top;
}

.highlight {
    background: #321;
    animation: flicker 3s infinite;
}

.linkBtn {
    color: #aaa;
    font-style: italic;
    text-decoration: underline;
}
.linkBtn:hover {
    color: #803;
    font-style: italic;
}

.mmInline {
    display: inline-block;
    vertical-align: top;
}
#listGames .clickable {
    border-left-width: 10px;
}
.mmInline .listHeader {
    font-size: 140%;
    font-style: oblique;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    height: 45px;
}

.selected {
    color: #a05;
}

.selectorWrapper {
    display: inline-block;
    font-family: 'Courier New';
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: left;
    width: 88%
}

.ui {
    background-color: #080820;
    border: 1px solid #444;
    border-radius: 2px;
    border-top-width: 5px;
    margin-left: 160px;
    padding: 20px 160px;
    width: fit-content;
    min-height: 270px;
}

#debugStatus {
    color: #800;
}

#game {
    width: fit-content;
}
#game div.clickable {
    margin-left: 20px;
}

#loading {
    position: fixed;
    top: 50px;
    right: 50px;
}

#matchLog {
    border: 2px solid #444;
    border-radius: 2px;
    border-top-width: 10px;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Courier New';
    font-size: 80%;
    overflow-y: hidden;
    text-align: left;
    width: 115px;
    height: 422px;
}

#pwdContent {
    color: white;
    cursor: text;
    font-family: 'Courier New';
    padding: 5px 10px;
}
#pwdLabel {
    position: relative;
    top: -6px;
    display: inline-block;
    margin: auto;
    text-align: left;
    min-width: 115px;
}
#pwdSelector {
    display: inline-block;
    background-color: #111;
    border: 2px solid gray;
    border-radius: 16px;
    margin: auto 10px auto auto;
    transition-duration: 100ms;
    width: 50px;
    height: 20px;
    z-index: 1;
}
#pwdSelector:hover {
    border-color: #803;
}
#pwdPosition {
    background-color: #180618;
    border: 2px solid gray;
    border-radius: 16px;
    margin-left: 0px;
    transition-duration: 100ms;
    position: relative;
    top: -2px;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 5;
}
#pwdPosition:hover {
    background-color: #321;
}
.pwdWrapper {
    margin: 10px auto;
    min-height: 75px;
    user-select: none;
}

#shipRotate {
    border-radius: 22px;
    padding: 5px 10px;
}

[id*="ship"] {
    margin-right: 2px;
}

@keyframes flicker {
    from {
        background: #321;
    }
    50% {
        background: #001;
    }
    to {
        background: #321;
    }
}